.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.skill-image {
    width: 100%;
    height: auto;
}

figure {
    width: 200px;
}

figcaption {
    text-align: center;
}
body {
    background-color: #ffc0cb;
}
.girly-text {
    font-family: 'Great Vibes', cursive;
}